@media screen and (max-width: 1400px) {
    #Profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #Experience, 
    .experience-details-container {
        margin-top: 2rem;
    }
    #Profile, 
    .section-container {
        display: block;
    }
    nav {
        background-color: none;
        position: relative;
    }
    .section-arrow,
    .bottom-icon-arrow {
        display: none;
    }
    section, 
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers,
    .interest-section-container {
        margin-top: 0;
    }
    .interest-photos {
        margin: 1rem;
    }
}

@media screen and (max-width: 600px) {
    #Contacts, 
    footer {
        height: 40vh;
    }
    #Profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, 
    .contact-info-upper-container, 
    .btn-container,
    .interest-section_pic-container {
        flex-wrap: wrap;
    }
    .interest-section_pic-container {
        flex-direction: column;
    }
    .contact-info-container {
        margin: 0;
    }
    contact-info-container p, 
    nav-links li a {
        font-size: 1rem;
    }
    .experience-subtitle {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section_text-p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .about-text-container,
    .interest-text-container {
        text-align: center;
    }
}